ul
{
	list-style-type: non;
	margin:0;
	padding:0;
}

li {
	display: inline;
}

a:link{
     color: #000000;
     text-align: center; 
}

a:visited{
    background-color: #B4CDCD;
   
    padding: 6px;
    text-decoration:none;
}


body {
	background-color: #FFFFFF;
	font-family: sans-serif;
}
 
/*All images - "Command + ?"*/

img {
	background: CCC;
	border: 1px solid gray;
	display: inline-block;
	float: left;
	margin: 10px;
	max-width: 200px;
	padding: 5px;

}


.image {
	
	border-radius: 100%
}

.zeus-pic{
	opacity: 0.4;
	filter:alpha (opacity=40);
}

.zeus-pic:hover{
	opacity: 1.0;
	filter:alpha (opacity=100);
}

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid blue;
	border-right: 100px solid transparent;
}

div.ex
{
width:500px;
padding:100px;
border:15px #000000;
margin:10px;
}
