
		html {
			font-family: sans-serif;
		}
		h1 img {
			vertical-align: middle;
			border: 5px solid transparent;
			border-radius: 100%;
			width: 150px;
		}
		
		h1 img:hover{
			border:5px solid #7FFFD4;

		}
		img {
			max-width: 100%
		}
		.blue-paragraph{
			color: #008B8B;
		}
		.small-paragraph{
			font-size: x-small
		}
	.image{
		position:relative;
		float:left;
	}
	.image . text {
		position: absolute;
		top: 10px;
		left:10px
		width:300px;
	}